@import "./Vars.scss";
.main__title {
    color: white;
    font-size: 25px;
}
.input {
    background-color: $has-color;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}
 
::placeholder {
    color: white;
}
