@import url(https://fonts.googleapis.com/css?family=Aclonica&display=swap);

$theme-font: 'Aclonica, sans-serif';
$main-color: #3DFF42;

$theme-font: 'Aclonica, sans-serif';
$has-color: #FFD430;

